#theForm {
 
color:white;
display: table;
padding: 30px;
background-color: violet;
border: solid 2px black;

 
}
 
.row {
display: table-row;
}
 
.row label {
display: table-cell;
padding: 2px;
text-align:right;
 
}
 
.row input {
display: table-cell;
padding: 2px;
}